<ul class="list-group">
  <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="list-group-item">Este es el componente 1</li>
  <li routerLink="c2" routerLinkActive="active" class="list-group-item">Acceso al componente 2</li>
  <li routerLink="c3" routerLinkActive="active" class="list-group-item">Acceso al componente 3</li>
  <li routerLink="c4" routerLinkActive="active" class="list-group-item">Acceso al componente 4</li>
  <li routerLink="c5" routerLinkActive="active" class="list-group-item">Acceso al componente 5</li>
</ul>
